fastapi
uvicorn
langchain
langchain-core
langchain-community
langchain-groq
langchain-google-genai
langserve==0.3.0
pydantic>=2.7.4,<3.0.0
pydantic-settings
httpx==0.27.0
redis
structlog
python-dotenv
sse-starlette